@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* header styling starts here */
.header-container {
    background-image: url(../assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-image {
    padding-left: 599.86px;
    padding-top: 26px;
}

.header-content {
    text-align: center;
}

.header-top {
    /* border: 2px solid red; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;
    margin-top: 32px;
    margin-left: 221px;
    margin-right: 221px;

}

.header-para {
    /* border: 2px solid red; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* margin-top: 0px; */
    margin-left: 294px;
    margin-right: 294px;
    height: 52px;
    width: 852px;
    padding-top: 24px;
}

.header-btn {
    /* border: 2px solid red; */
    font-family: Azeret Mono;
    margin: 32px;
    width: 230px;
    height: 66px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* header styling ends here */



.main-container {
    /* border: 2px solid red; */
    border-radius: 15px;
    background-color: rgb(247, 247, 247);
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;

}

.main-header {
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 80px;
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-family: Azeret Mono;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.main-para {
    /* border: 2px solid red; */
    color: rgb(13, 19, 33);
    margin: 0 auto;
    margin-top: 10px;
    width: 852px;
    height: 48px;
    font-size: 16px;
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

}

.main-content-first {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    background-color: rgb(249, 249, 249);
    background: linear-gradient(to left, rgb(247, 247, 247), rgb(255, 255, 255));
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 48px;
}

.main-partition-first {
    /* border: 2px solid red; */
    height: 240px;
    width: 850px;
    margin: 48px;
    display: flex;
    justify-content: space-between;
}

.main-head {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    font-family: Azeret Mono;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}

.main-head-para {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    font-family: Azeret Mono;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.main-partition-first-image {
    height: 217.01px;
    width: 259.56px;

}

.main-first-button {
    height: 48px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    font-family: Azeret Mono;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 55px;
    cursor: pointer;
}


















.main-content-second {
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 20px;
    background-color: rgb(249, 249, 249);
    background: linear-gradient(to right, rgb(247, 247, 247), rgb(255, 255, 255));
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 48px;
}

.main-partition-second {
    /* border: 2px solid red; */
    height: 240px;
    width: 850px;
    margin: 48px;
    display: flex;
    justify-content: space-between;
}

.main-head-second {
    /* border: 2px solid red; */
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-family: Azeret Mono;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    width: 575px;
}

.main-head-para-second {
    /* border: 2px solid red; */
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    width: 575px;
    margin-left: 50px;
}

.main-partition-second-image {
    height: 208.85px;
    width: 223.2px;

}

.main-second-button {
    height: 48px;
    width: 150px;
    font-family: Azeret Mono;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 55px;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 25px;
}

.my-inspiration{
border: 2px solid red;
/* height: 115px; */
/* width: 852px; */
margin: 0 auto;
}
.youtube-video{
    /* border: 2px solid red; */
    height: 550px;
    width: 1076px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
}